<!--<h1> A Node view</h1>
<form action="/node-mongodb-moongose-user" method ="post">
    <input type="text" name ="emailBody"> 
    <button type="submit">Enviar</button> 

<h1>Dados de User Recuperados</h1>
{{ firstNameV }} <br>
{{ lastNameV }} <br>
{{  passwordV  }} <br>
{{ emailV }} <br>
{{ messagesV }} <br>*/-->